body {
	font-size: 10px;
	background-color: #262626;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
}
nav {
	background-color: #0d0d0d;
	box-shadow: 0 5px 5px 3px #1a1a1a;
	width: 100vw;
	height: 5vh;
}
span {
	color: #3cb043;
}
.button {
	font-family: "Open Sans", sans-serif;
	font-size: 3vh;
	background-color: transparent;
	color: aliceblue;
	border: none;
	margin: 0 10px;
	outline: none;
	cursor: pointer;
	transition: 0.2s;
}
.button:hover {
	font-size: 3.1vh;
}
.arrayBar {
	background-color: #3cb043;
	width: 2.5vw;
	margin: 0 1px;
	display: inline-block;
}
#container {
	display: flex;
	width: 70vw;
	margin: 0 auto;
}
